<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

use Doctrine\DBAL\Driver\PDOMySql\Driver as PDOMySqlDriver;

return [
    // Configuration for your SMTP server (for sending outgoing mail).
    'smtp' => [
        'name'              => 'localhost.localdomain',
        'host'              => '127.0.0.1',
        'port'              => 25,
        'connection_class'  => 'plain',
        'connection_config' => [
            'username' => '<user>',
            'password' => '<pass>',
        ],
    ],
    // Database connection configuration.
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass' => PDOMySqlDriver::class,
                'params' => [
                    'host'     => '127.0.0.1',                    
                    'user'     => 'roledemo',
                    'password' => '<password>',
                    'dbname'   => 'roledemo',
                ]
            ],            
        ],        
    ],
];
